.buttons {
  & ul {
    display: flex;
    align-items: center;
    padding-left: 0;
    text-align: center;

    list-style-type: none;

    transition: all 0.5s;
  }

  & li {
    width: 2rem;
    height: 2rem;
    margin-left: -2px;
    background-color: var(--colorPrimary);

    border-radius: 3rem;
  }

  & li:first-child {
    width: auto;
    padding: 0 0.5rem;
    font-size: 1.2rem;
    background-color: transparent;
  }

  & li:nth-child(2) {
    width: 1rem;
    height: 1rem;

    background-color: var(--colorPrimaryLighter);
  }

  & li:nth-child(3) {
    width: 2rem;
    height: 2rem;
    background-color: var(--colorPrimaryLight);
  }

  & li:nth-child(4) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.2rem;
    height: 3.2rem;

    background-color: var(--colorPrimary);
    filter: brightness(80%);

    & i {
      color: white;
      font-size: 1.7rem;
      margin-top: -5px;
    }
  }

  & ul:hover {
    cursor: pointer;
    & i {
      /* color: red; */
    }
  }
}
.buttons[data-left='true'] ul {
  flex-direction: row-reverse;
}
