@import '../../styles/variables';

.sliderBox {
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.slider {
  width: 100%;
}

.buttons {
  margin-top: 2rem;
}

@media all and ($media-laptop) {
  .sliderBox {
    width: 60%;
    align-items: center;
  }
  .sliderBox .vertical {
    margin-top: -20vh;
  }
  .sliderBox .vertical:last-child {
    transform: rotateZ(10deg);
    transform: scale(-1, 1) rotateZ(3deg);
  }
}

@media all and ($media-laptop-lg) {
  .sliderBox .vertical {
    margin-top: -260px;
  }
  .buttons {
    margin-top: 0px;
  }
}

@media all and ($media-desktop) {
  .sliderBox {
    width: 50%;
    max-width: 850px;
  }
}

@media all and ($media-desktop) and (min-height: 900px) {
  .buttons {
    margin-top: 50px;
  }
}
