@import '../../styles/variables';

.description {
  background-color: white;
  text-align: left;
  padding: 2rem;
  color: #2b2b2b;
}
.description a {
  color: purple;
}

@media all and ($media-laptop) {
  .description {
    padding: 0 2rem;
  }
}

// @media all and ($media-laptop-lg) {
@media all and ($media-desktop) {
  .description {
    padding: 0;
    max-width: 650px;
  }
}
