@import '../../styles/variables';

.projects {
  font-size: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3rem 0;
  // border: 1px solid red;
}
.circleBox {
  margin: 5px;
}
.circleBox :global .circle {
  border-width: 1px;
  transition: all 0.5s;
  box-shadow: inset 0 0 0px 0px var(--colorPrimary);
}
.circleBox :global .item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem;
  margin: 0.3rem;
  color: #555;
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  border-radius: 5em;
  cursor: pointer;
  box-shadow: inset 0 0 0px 10px var(--colorPrimary);
  transition: all 0.5s;

  &:active {
    filter: brightness(100%);
  }
}

.circleBox :global .circle:hover {
  box-shadow: inset 0 0 0px 14px var(--colorPrimary);
  transition: all 0.5s;
  & .item {
    box-shadow: inset 0 0 0px 3px #fff;
    transition: all 0.5s;
    color: var(--colorPrimary);
  }
}

@media all and ($media-laptop) {
  .projects {
    padding: 0;
    // border: 1px solid red;
    // padding: 3rem 0 0 0;
  }
}
@media all and ($media-laptop-lg) {
  .projects {
    // padding: 0;
    // border: 1px solid red;
    // padding: 3rem 0 0 0;
  }
}
