html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

@import './sanitize.css';
// @import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import '_variables.scss';

// CSS VARIABLES
:root {
  /* --bgColor: #333; */
  --colorPrimary: #8e4ce3;
  --colorPrimaryLight: #8e4ce3cc;
  --colorPrimaryLighter: #8e4ce366;
  --colorText: #141823;
}

* {
  font-family: 'Akaya Telivigala', cursive;
}

.heading1 {
  color: var(--colorPrimary);
  filter: brightness(80%);
  font-size: 2rem;
}

.heading3 {
  font-size: 1.2rem;
  color: var(--colorText);
  font-weight: 300;
}

.circle {
  display: inline-flex;
  border: 15px solid var(--colorPrimary);
  border-radius: 5em;
}

// SWIPER
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-pagination-bullet {
  width: 0px !important;
  margin: 10px !important;
}

// RESPONSIVENESS
[data-type='vertical'] {
  display: none;
}
@media all and ($media-laptop) {
  [data-type='horizontal'] {
    display: none;
  }
  [data-type='vertical'] {
    display: block;
  }
}
