@import '_variables.scss';

.main {
  padding: 3rem 0;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

@media all and ($media-laptop-lg) {
  .main {
    padding: 1rem 0 0 0;
  }
}

@media all and ($media-desktop) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container {
    width: 100%;
  }
}
