@import '_variables.scss';

.main {
  // font-size: 3rem;
  // border: 1px solid red;
  // min-height: 30vh;
  padding: 3rem 0;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

// @media all and ($media-tablet) {
//   .main {
//     font-size: 7rem;
//   }
// }
